.footer_base{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #215582; !important;
   color: white;
   text-align: center;
   z-index: 2  /* Z-indexing for overlapping issue e.g. with login form */
}
