/* This css file is for additional stuff. centers element, form required and so on. */

/* Centers an element */
.make-it-center{
    margin: auto;
    width: 50%;
}

/* set color white to all body text */
body{
    color: white;
}

/* left by negative 10%
.lefterr{
    margin-left: -10%;
}
 */

/* Puts asterisks after a required field and set the color red */
.required:after {
    content:"*";
    color: red;
}

/* Anything on that class is red */
.error{
    color: red;
}

.text-center {
    text-align: center;
}

.search_res_cl {
    position: absolute;
    margin-right: 5%;
    left: 77%;
    background-color: #3e3c3c;
}

@media only screen and (max-width: 600px) {
    .search_res_cl {
        position: absolute;
        margin-right: 5%;
        left: 30%;
        background-color: #3e3c3c;
    }
}
